<div class="recepeCard" >
    <div class="recepeDivImage" [routerLink]="['/details', recepecard.id]">
        <img class="recepeImage"
        [src]="recepecard.image"
        alt="Photo de {{ recepecard.name }}"
        />
    </div>
    <img id="favorite-icon" [src]="isFavorite ? '../../assets/icon/icon-favoris-selected.png' : '../../assets/icon/icon-favoris-unselected.png'" alt="Star Icon" (click)="changeFavorite()"/>  
    <div class="recepeNameAndOwner" [routerLink]="['/details', recepecard.id]">
        <h2 class="recepeName"> {{recepecard.name}} </h2>
        <p class="recepeOwner"> de {{recepecard.owner}} </p>
    </div>
</div>