.recepeCard{
    position: relative;
    background-color: #D5C8E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 20px;    
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Pour une transition fluide */
}
.recepeCard:hover {
    transform: scale(1.05); /* Agrandir la div de 5% */
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3); /* Augmenter l'ombre */
  }
.recepeDivImage{
    width: 90%;
    aspect-ratio: 1; /* Le ratio de largeur/hauteur est 1:1, donc carré */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recepeImage{
    width: 100%;
    aspect-ratio: 1; /* Le ratio de largeur/hauteur est 1:1, donc carré */
}
.recepeNameAndOwner{    
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.recepeOwner{
    margin-top: -4%;
}

#favorite-icon{
    position: absolute;
    top: 1.8%; /* Ajuste la distance depuis le haut */
    right: 2%; /* Ajuste la distance depuis la gauche */
    height: 52px;
    width: 52px;
}