#title{
    position: relative;
    text-align: center;
    margin: 40px;
}
#recepeImage{
    width : 50%;
    aspect-ratio: 1;
    border-radius: 5px;
}

#section-image-icons{
    display : flex;
    align-items : center;
    justify-content: center;
    margin-bottom: 40px;
}
.div-image-and-icons{
    display: flex;
    width: 50%;
    align-items : center;
    justify-content: center;
}

#div-icons{
    width : 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-row{
    display : flex;
    justify-content: space-between;
    width: 50%;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

.icon{  
    flex:1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cooking-step{
    margin: 1%;
}

.horizontal-separation-line{
    height: 1px;
    background-color: grey;
    margin-left: 3%;
    margin-right: 3%;
}
#icon-delete{
    height: 24px;
    width: 24px;
}
#div-delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1.8%; /* Ajuste la distance depuis le haut */
    right: 2%; /* Ajuste la distance depuis la gauche */    
    cursor: pointer; /*indique que le bouton est cliquable*/
}
#p-delete{
    margin-top: 2px;
}