<body>
    <app-header></app-header>
    <main>
        <div id="title">
            <h1>{{recepe?.name}}</h1>
            <div id="div-delete"  (click)="deleteRecepe()" >
                <img src="../../assets/icon/icon-supprimer.png" alt="Delete Recepe" id="icon-delete"/>
                <p id="p-delete">Supprimer</p>
            </div>
        </div>
        <img src=""/>
        <section id="section-image-icons">
            <div class="div-image-and-icons">
                <img id="recepeImage" [src]="recepe?.image" alt="Photo de {{ recepe?.name }}"/>   
            </div>
            <div class="div-image-and-icons">
                <div id="div-icons">
                    <div class="icon-row">
                        <div class="icon" id="icon-owner">
                            <img src="../../assets/icon/icon-chef.png" alt="Icône" width="50%" height="50%">
                            <p>{{recepe?.owner}}</p>
                        </div>
                        <div class="icon" id="icon-avis">
                            <img src="../../assets/icon/icon-comment.png" alt="Icône" width="50%" height="50%">
                            <p>Avis</p>
                        </div>                    
                    </div>
                    <div class="icon-row">
                        <div class="icon" id="icon-preparationtime">
                            <img src="../../assets/icon/icon-fouet.png" alt="Icône" width="50%" height="50%">
                            <p>{{recepe?.preparationTime}}</p>
                        </div>
                        <div class="icon" id="icon-cookingtime">
                            <img src="../../assets/icon/icon-four.png" alt="Icône" width="50%" height="50%">
                            <p>{{recepe?.cookingTime}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="div-ingredients">
                <h2>Ingrédients :</h2>
                <ul>
                    <li class="ingredient" *ngFor="let item of recepe?.ingredient"> {{item}} </li>
                </ul>
            </div>
            <div class="div-remark">
                <h2>Remarques :</h2>
                <p> {{recepe?.remark}}</p>
            </div>
            <hr class="horizontal-separation-line">
            <div id="div-cooking-steps">
                <h2>Préparation :</h2>
                <ol>
                    <li class="cooking-step" *ngFor="let step of recepe?.steps"> {{step}}</li>
                </ol>                
            </div>
        </section>
    </main>
</body>