<body>
    <header id="header">
        <img id="logo" src="assets/logo.png" amt="Miam'Miam"/>
    </header>
    <main>
        <section id="section-login">
            <div id="div-welcome">
                <h1> Tous en cuisine !</h1>
                <p>
                    Miam'Miam te propose de partager tes recettes en famille 
                </p>
                <div id="div-select-user">
                    <label for="user-select" id="label-login"> Alors, à qui le tour de cuisiner ?</label>
                    <select #user (change)="updateUser(user.value)" id="user-select" class="select-login" name="user-select" aria-label="Sélectionner un utilisateur">
                        <option *ngFor="let user of usersList" [value]="user.id" [selected]="user.id === currentUser.id">{{ user.username }}</option>
                    </select>
                </div>
            </div>
            <div id="div-illustration">
               <img alt="Illustration" src="assets/img/cuisinier.png"/> 
            </div>
        </section>
        <section id="section-redirection">
            <div class="div-redirection">
                <button [routerLink]="['/allrecepes']" class="btn-redirection" type="button" aria-label="Aller à la page AllRecepes">
                    PARCOURIR LES RECETTES
                </button>
                <div class="div-description">
                    <p>
                        Régale toi en découvrant les dernières recettes
                    </p>
                </div>
            </div>
            <div class="div-redirection">
                <button [routerLink]="['/myrecepes']" class="btn-redirection" type="button" aria-label="Aller à la page MyRecepes">
                    MES RECETTES ENREGISTRÉES
                </button>
                <div  class="div-description">
                    <p>
                        Retrouve tes recettes favorites
                    </p>
                </div>
            </div>                       
        </section>
    </main>
</body>